.wrap {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.wraper {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

.wraperContact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
